auto3esecrets.py
token-drive.pickle
token-sheets.pickle
token.json
client_secret_*.json

venv/
.tox/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

Pipfile.lock